Repository airshipit/deckhand: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

airship-deckhand-functional-uwsgi-py35:
  description: 'Run tox-based functional tests for the Airship Deckhand project using a
  
    minimalistic deployment consisting of uwsgi for Deckhand API and pifpaf
  
    for ephemeral PostgreSQL DB, under cPython version 3.5.
  
    '
  run: tools/gate/playbooks/run-functional-tests-uwsgi.yaml
  ...

airship-deckhand-functional-docker-py35:
  description: 'Run tox-based functional tests for the Airship Deckhand project under
  
    cPython version 3.5. Uses tox with the ``functional-py35`` environment.
  
    '
  parent: airship-deckhand-functional-docker-base
  nodeset: openstack-helm-single-node
  vars:
    tox_envlist: functional
  ...

airship-deckhand-integration-uwsgi-py35:
  description: 'Run tox-based integration tests for the Airship Deckhand project using a
  
    minimalistic deployment consisting of uwsgi for Deckhand API and pifpaf
  
    for ephemeral PostgreSQL DB, under cPython version 3.5.
  
    '
  timeout: 3600
  run: tools/gate/playbooks/run-integration-tests-uwsgi.yaml
  ...

airship-deckhand-integration-docker-base:
  description: 'Base job for running airship-deckhand integration tests. Runs tests
  
    against Docker image generated from source code.
  
    '
  timeout: 3600
  roles:
  - zuul: openstack/openstack-helm-infra
  vars:
    zuul_osh_relative_path: ../openstack-helm/
  ...

airship-deckhand-integration-docker-py35:
  description: 'Run tox-based integration tests for the Airship Deckhand project under
  
    cPython version 3.5.
  
    '
  parent: airship-deckhand-integration-docker-base
  nodeset: openstack-helm-single-node
  vars:
    disable_keystone: false

airship-deckhand-docker-build-gate:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-deckhand-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-deckhand-docker-publish:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-deckhand-single-node
  secrets:
  - airship_deckhand_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

Add test pods labels.
  charts/deckhand/templates/tests/test-deckhand-api.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

trivial: Use airship-deckhand-single-node for nodeset in zuul.yaml
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Fix failing integration uwsgi job
  deckhand/tests/integration/gabbits/document-crud-secret.yaml
  deckhand/tests/integration/gabbits/document-render-secret-edge-cases.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret-generic.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Move to stestr for functional/integration tests
  deckhand/tests/common/test_gabbi.py
  deckhand/tests/functional/gabbits/layering/layering-with-substitution-single-bucket.yaml
  tools/functional-tests.sh
  tools/gate/roles/run-functional-tests/tasks/functional-tests.yaml
  tools/gate/roles/run-integration-tests/tasks/integration-tests.yaml
  tools/integration-tests.sh
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Delete secret references from Barbican when deleting all revisions
  deckhand/barbican/driver.py
  deckhand/control/revisions.py
  deckhand/db/sqlalchemy/api.py
  deckhand/engine/secrets_manager.py
  deckhand/tests/common/test_gabbi.py
  deckhand/tests/integration/gabbits/revision-delete-all-secrets.yaml
  deckhand/tests/unit/control/test_revisions_controller.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

integration tests: Add Barbican validation/assertions
  deckhand/tests/common/test_gabbi.py
  deckhand/tests/deckhand.conf.test
  deckhand/tests/functional/gabbits/resources/layering-and-substitution-dag-sample.yaml
  deckhand/tests/integration/gabbits/document-crud-secret.yaml
  deckhand/tests/integration/gabbits/document-render-secret-edge-cases.yaml
  deckhand/tests/integration/gabbits/document-render-secret.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret-generic.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret.yaml
  deckhand/tests/unit/control/test_validations_controller.py
  deckhand/tests/unit/db/base.py
  deckhand/tests/unit/engine/test_document_layering.py
  deckhand/tests/unit/engine/test_document_layering_and_substitution_negative.py
  deckhand/tests/unit/engine/test_secrets_manager.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Use concurrency to retrieve unencrypted secret data
  deckhand/conf/config.py
  deckhand/control/revision_documents.py
  deckhand/engine/secrets_manager.py
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Rename some instances of ucp to airship
  README.rst
  doc/source/encryption.rst
  doc/source/getting-started.rst
  doc/source/glossary.rst
  doc/source/index.rst
  doc/source/rendering.rst
  doc/source/testing.rst
Due: none

Remove deprecated substitution_sources kwarg
  deckhand/engine/layering.py
  deckhand/engine/secrets_manager.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Implement rendered documents caching
  deckhand/conf/config.py
  deckhand/control/revision_documents.py
  deckhand/engine/__init__.py
  deckhand/engine/cache.py
  deckhand/engine/layering.py
  deckhand/engine/render.py
  deckhand/tests/deckhand.conf.test
  deckhand/tests/unit/base.py
  deckhand/tests/unit/engine/test_cache.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add cryptography to Deckhand
  requirements.txt
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

docs: Update document types documentation
  doc/source/document-types.rst
  doc/source/validation.rst
Due: none

doc(typo): Correct spelling
  doc/source/layering.rst
Due: none

Update Deckhand for latest HTK
  charts/deckhand/templates/configmap-bin.yaml
  charts/deckhand/templates/configmap-etc.yaml
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/templates/ingress-api.yaml
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
  charts/deckhand/templates/job-image-repo-sync.yaml
  charts/deckhand/templates/job-ks-service.yaml
  charts/deckhand/templates/job-ks-user.yaml
  charts/deckhand/templates/secret-keystone-env.yaml
  charts/deckhand/templates/service-ingress.yaml
  charts/deckhand/templates/service.yaml
  charts/deckhand/values.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

Fix typo in revision_diff function
  deckhand/db/sqlalchemy/api.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

caching: Add test to validate shared caching across threads
  deckhand/tests/unit/engine/test_cache.py
Due: airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

refactor: Clean up jsonpath_replace method
  deckhand/common/utils.py
  deckhand/control/revision_documents.py
  deckhand/tests/unit/common/test_utils.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

chore(py3): update doc build to use py3
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Remove the duplicated word
  deckhand/db/sqlalchemy/api.py
  doc/source/documents.rst
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Invalidate rendered documents cache when deleting all revisions
  deckhand/control/common.py
  deckhand/control/revisions.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Implement Barbican cache for quick secret payload/ref data
  deckhand/barbican/cache.py
  deckhand/barbican/driver.py
  deckhand/conf/config.py
  deckhand/control/common.py
  deckhand/tests/deckhand.conf.test
  deckhand/tests/unit/barbican/__init__.py
  deckhand/tests/unit/barbican/test_cache.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Chart: Use k8s secret to store config
  charts/deckhand/templates/configmap-etc.yaml
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

Update Keystone API ports in Deckhand chart
  charts/deckhand/values.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

Support rolling back to revision 0
  deckhand/db/sqlalchemy/api.py
  deckhand/tests/unit/db/test_revision_rollback.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add venv tox environment
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

[Trivial Fix] Change b46enc to b64enc in chart
  charts/deckhand/templates/configmap-etc.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

trivial: Update deprecated Airship links in docs
  README.rst
  doc/source/images/architecture-pegleg.png
  doc/source/images/architecture.png
  doc/source/replacement.rst
Due: none

[fix] Substitution source documents accidentally modified
  deckhand/common/utils.py
  deckhand/tests/unit/engine/test_document_layering_and_substitution.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Correct docs-on-readthedocs to work with RTD publish
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Fix typo
  alembic/versions/918bbfd28185_initial_deckhand_base.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Fix: Transaction rollback following DB creation error
  deckhand/control/buckets.py
  deckhand/db/sqlalchemy/api.py
  deckhand/tests/unit/db/test_documents.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

substitution: Recursive pattern replacement
  deckhand/common/utils.py
  deckhand/engine/schemas/metadata_document.yaml
  deckhand/engine/secrets_manager.py
  deckhand/tests/unit/common/test_utils.py
  doc/source/substitution.rst
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

add python 3.6 unit test job
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

feat(tls): add tls to ingress for public endpoint
  charts/deckhand/templates/secret-ingress-tls.yaml
  charts/deckhand/values.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

trivial: update description + homepage in setup.cfg
  setup.cfg
Due: airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

Unify publishing of docs
  Makefile
  tools/gate/playbooks/rtd-build-trigger.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add release uuid to pods and rc objects (deckhand)
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
  charts/deckhand/templates/tests/test-deckhand-api.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35

trivial: Fix error message for non-matching policy checks
  deckhand/tests/unit/fixtures.py
Due: airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Adding api for revisions deep diffing
  charts/deckhand/values.yaml
  deckhand/client/revisions.py
  deckhand/control/common.py
  deckhand/control/revision_deepdiffing.py
  deckhand/control/revision_documents.py
  deckhand/db/sqlalchemy/api.py
  deckhand/engine/revision_diff.py
  deckhand/engine/utils.py
  deckhand/errors.py
  deckhand/factories.py
  deckhand/policies/revision.py
  deckhand/service.py
  deckhand/tests/functional/gabbits/revision-deepdiff/revision-deepdiff-success.yaml
  deckhand/tests/unit/control/test_api_initialization.py
  deckhand/tests/unit/control/test_revisions_deepdiff_controller.py
  deckhand/tests/unit/engine/test_revision_deepdiffing.py
  deckhand/tests/unit/engine/test_revision_diffing.py
  doc/source/api_ref.rst
  doc/source/developer-overview.rst
  doc/source/exceptions.rst
  doc/source/revision-history.rst
  etc/deckhand/policy.yaml.sample
  requirements.txt
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Replace Chinese quotes with English quotes
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Path conditions:
  airship-deckhand-functional-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-functional-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-integration-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-integration-docker-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  airship-deckhand-integration-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  airship-deckhand-docker-build-gate: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-deckhand-docker-publish: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
