Repository airshipit/deckhand: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag

Path conditions:
  airship-deckhand-functional-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-functional-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-integration-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  airship-deckhand-integration-docker-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  airship-deckhand-integration-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  airship-deckhand-docker-build-gate: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-deckhand-docker-publish: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  airship-deckhand-docker-tag: any of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$

Revision diffing issue with revision rollback.
  deckhand/db/sqlalchemy/api.py
  deckhand/tests/functional/gabbits/revision-diff/revision-diff-rollback-null-success.yaml
  deckhand/tests/unit/db/test_revision_rollback.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add Python 3.6 classifier to setup.cfg
  setup.cfg
  tox.ini
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag

docs(substitution): mention that all occurrences are replaced
  doc/source/users/substitution.rst
Due: airship-deckhand-docker-tag

CI: Fix integration job
  requirements.txt
  tools/gate/playbooks/osh-infra-upgrade-host.yaml
  tools/gate/roles/deploy-apparmor/tasks/main.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add openstack-discuss
  setup.cfg
Due: airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

schema: Fix metadata schema patterns
  deckhand/engine/document_validation.py
  deckhand/engine/schemas/metadata_control.yaml
  deckhand/engine/schemas/metadata_document.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Update oslo.util version in requirements
  requirements.txt
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Added filename to logging message format for troubleshooting purpose
  tools/image_tags.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Embed UML generated diagrams into docs, fix docs build
  Makefile
  bindep.txt
  doc/requirements.txt
  doc/source/conf.py
  doc/source/contributor/developer-overview.rst
  doc/source/images/architecture-pegleg.png
  doc/source/images/architecture.png
  tools/build-docs.sh
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag

[ad-hoc] Update oslo.utils ver to 3.40.2
  requirements.txt
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

[chart] Enable liveness probe in DH
  charts/deckhand/templates/deployment.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

Use helm-toolkit for DB initialization
  charts/deckhand/templates/bin/_db-init.sh.tpl
  charts/deckhand/templates/configmap-bin.yaml
  charts/deckhand/templates/job-db-init.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

[FIX] Change Helm-toolkit pinning to new commit
  tools/helm_tk.sh
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Updating Docker Gate use of zuul.newrev
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/docker-image-tag.yaml
  tools/gate/roles/build-images/tasks/build-airship-deckhand-image.yaml
  tools/gate/roles/deploy-deckhand/tasks/deploy-deckhand.yaml
  tools/gate/roles/deploy-postgresql/tasks/deploy-postgresql.yaml
  tools/gate/roles/generate-test-config/tasks/generate-test-config.yaml
  tools/gate/roles/generate-test-config/tasks/generate-test-paste.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

tools: Update Helm to v2.13.1
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

(zuul) Fix image publish post pipeline
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

CI: Add chart build jobs
  .zuul.yaml
  tools/gate/playbooks/build-charts.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Log client-id in UCP API endpoints
  charts/deckhand/values.yaml
  deckhand/client/client.py
  deckhand/context.py
  deckhand/control/middleware.py
  deckhand/service.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag

Implement Security Context for Deckhand
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/values.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

OpenDev Migration Patch
  .gitreview
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

CI: Update OSH relative paths for OpenDev
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

CI: Add Airskiff check
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
  tools/gate/playbooks/airskiff-reduce-site.yaml
  tools/gate/playbooks/debug-report.yaml
  tools/gate/playbooks/git-config.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Docs build fix (#1)
  doc/requirements.txt
Due: airship-deckhand-docker-tag

Docs build fix (#2)
  doc/requirements.txt
Due: airship-deckhand-docker-tag

Docs build fix (#3)
  doc/requirements.txt
Due: airship-deckhand-docker-tag

Docs build fix (#4)
  doc/requirements.txt
Due: airship-deckhand-docker-tag

Make Deckhand integration tests non-voting
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Encrypt git mirroring ssh_key to specific project
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Move nodeset to bionic
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Adding opensuse image build for deckhand
  .zuul.yaml
  Makefile
  doc/source/contributor/developer-overview.rst
  doc/source/contributor/testing.rst
  doc/source/operators/index.rst
  doc/source/operators/multi-distro-support.rst
  doc/source/users/getting-started.rst
  images/deckhand/Dockerfile.opensuse_15
  images/deckhand/Dockerfile.ubuntu_xenial
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/docker-image-tag.yaml
  tools/gate/roles/build-images/defaults/main.yaml
  tools/gate/roles/build-images/tasks/build-airship-deckhand-image.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag

Fixing secret name used for publishing image on quay.io
  .zuul.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

CI: Fix doc build gate
  tools/build-docs.sh
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add pod anti-affinity to Deckhand
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/values.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

Remove required-projects from Airskiff gate
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add node selector to test pod
  charts/deckhand/templates/tests/test-deckhand-api.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

Support v2 schema versions
  deckhand/engine/document_validation.py
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish

Add release uuid annotation to POD spec
  charts/deckhand/templates/deployment.yaml
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-tag

Update base image from leap15.0 to leap15.1
  doc/source/operators/multi-distro-support.rst
  images/deckhand/Dockerfile.opensuse_15
Due: airship-deckhand-functional-uwsgi-py35, airship-deckhand-functional-docker-py35, airship-deckhand-integration-uwsgi-py35, airship-deckhand-integration-docker-base, airship-deckhand-integration-docker-py35, airship-deckhand-docker-build-gate, airship-deckhand-docker-publish, airship-deckhand-docker-tag
