Repository airshipit/deckhand: changes, and which Zuul jobs are due for each by the changed paths.
All: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

deckhand-functional-uwsgi-py35:
  description: 'Run tox-based functional tests for the Airship Deckhand project using a
  
    minimalistic deployment consisting of uwsgi for Deckhand API and pifpaf
  
    for ephemeral PostgreSQL DB, under cPython version 3.5.
  
    '
  run: tools/gate/playbooks/run-functional-tests-uwsgi.yaml
  ...

deckhand-functional-docker-py35:
  description: 'Run tox-based functional tests for the Airship Deckhand project under
  
    cPython version 3.5. Uses tox with the ``functional-py35`` environment.
  
    '
  parent: deckhand-functional-docker-base
  nodeset: deckhand-single-node
  vars:
    tox_envlist: functional
    disable_keystone: true

deckhand-integration-uwsgi-py35:
  description: 'Run tox-based integration tests for the Airship Deckhand project using a
  
    minimalistic deployment consisting of uwsgi for Deckhand API and pifpaf
  
    for ephemeral PostgreSQL DB, under cPython version 3.5.
  
    '
  timeout: 3600
  run: tools/gate/playbooks/run-integration-tests-uwsgi.yaml
  ...

deckhand-integration-docker-base:
  description: 'Base job for running deckhand integration tests. Runs tests
  
    against Docker image generated from source code.
  
    '
  timeout: 3600
  roles:
  - zuul: openstack/openstack-helm-infra
  vars:
    zuul_osh_relative_path: ../../openstack/openstack-helm/
  ...

deckhand-integration-docker-py35:
  description: 'Run tox-based integration tests for the Airship Deckhand project under
  
    cPython version 3.5.
  
    '
  parent: deckhand-integration-docker-base
  nodeset: openstack-helm-single-node
  vars:
    disable_keystone: false

deckhand-airskiff-deployment:
  nodeset: deckhand-single-node
  description: 'Deploy Memcached using Airskiff and submitted Deckhand changes.
  
    '
  timeout: 9600
  voting: false
  pre-run:
  - tools/gate/playbooks/airskiff-reduce-site.yaml
  - tools/gate/playbooks/git-config.yaml
  run: tools/gate/playbooks/airskiff-deploy.yaml
  ...

deckhand-docker-build-gate:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: deckhand-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

deckhand-docker-publish:
  description: 'Runs on every merge, unless files in a dictionary below are changed.
  
    Builds and publishes container images on quay.io with a set of tags
  
    listed in vars section. Waits in Zuul queue for a node (VM) assignment.
  
    '
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  ...

deckhand-docker-tag:
  description: 'Runs on every merge when files in a dictionalry below are changed, and
  
    adds git commit id tag onto the container image published on quay.io,
  
    which has `latest` tag set. Does not wait in queue for a node (VM)
  
    assignment, runs almost immediately.
  
    '
  timeout: 1800
  ...

Update packages related to requests
  requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Add Python 3 Train unit tests
  .zuul.yaml
  setup.cfg
  tox.ini
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Fix v2 schema support
  deckhand/engine/document_validation.py
  deckhand/tests/functional/gabbits/resources/sample-schema-v2.yaml
  deckhand/tests/functional/gabbits/schema-validation/schema-validation-success-v2.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Upgrade six to 1.12
  images/deckhand/Dockerfile.opensuse_15
  requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

CI: Update Airskiff full-site manifest location
  tools/gate/playbooks/airskiff-reduce-site.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Fix for opensuse image build issue.
  images/deckhand/Dockerfile.opensuse_15
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Let the Werkzeug package version float
  doc/requirements.txt
  requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Allow to configure service network policy
  charts/deckhand/templates/network_policy.yaml
  charts/deckhand/values.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

CI: Remove call to deleted Airskiff script
  tools/gate/playbooks/airskiff-deploy.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Use apps/v1 k8s controllers and add labels
  charts/deckhand/templates/deployment.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

Pin back amqp version
  test-requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

CI: Build image after Docker installed in airskiff
  tools/gate/playbooks/airskiff-deploy.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Add retries to Barbican secret create
  deckhand/barbican/driver.py
  deckhand/conf/config.py
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Fix encrypted doc rendering
  deckhand/common/utils.py
  deckhand/control/common.py
  deckhand/control/revision_documents.py
  deckhand/engine/layering.py
  deckhand/engine/secrets_manager.py
  deckhand/tests/unit/control/test_rendered_documents_controller.py
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Remove Python 2.x support
  .zuul.yaml
  deckhand/common/document.py
  doc/source/contributor/developer-overview.rst
  doc/source/contributor/testing.rst
  doc/source/users/getting-started.rst
  requirements.txt
  setup.cfg
  tox.ini
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Fix Deckhand integration test gates
  .zuul.yaml
  test-requirements.txt
  tools/gate/playbooks/run-integration-tests-docker.yaml
  tools/gate/roles/deploy-keystone-dependencies/tasks/deploy-keystone-dependencies.yaml
  tools/gate/roles/install-test-requirements/tasks/install-test-requirements.yaml
  tools/gate/roles/install-test-requirements/tasks/main.yaml
  tools/gate/roles/run-integration-tests/tasks/integration-tests.yaml
  tools/helm_tk.sh
  tools/integration-tests.sh
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Gate fixes: pin amqp, use barbican deploy script
  test-requirements.txt
  tools/gate/playbooks/run-integration-tests-docker.yaml
  tools/gate/roles/deploy-barbican/tasks/deploy-barbican.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Barbican driver simplification
  deckhand/barbican/driver.py
  deckhand/tests/integration/gabbits/document-crud-secret.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret-generic.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret.yaml
  deckhand/tests/integration/gabbits/revision-delete-all-secrets.yaml
  deckhand/tests/unit/engine/test_secrets_manager.py
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Add support for Ubuntu bionic base image
  .zuul.yaml
  Makefile
  doc/requirements.txt
  doc/source/contributor/testing.rst
  doc/source/users/getting-started.rst
  images/deckhand/Dockerfile.ubuntu_bionic
  requirements.txt
  tools/gate/playbooks/airskiff-deploy.yaml
  tools/gate/roles/build-images/defaults/main.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Add Docker default AppArmor profile to deckhand
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/values.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

(fix) Address uwsgi and other gating issues
  .zuul.yaml
  images/deckhand/Dockerfile.opensuse_15
  requirements.txt
  tools/gate/playbooks/run-functional-tests-uwsgi.yaml
  tools/gate/roles/disable-systemd-resolved/tasks/disable-systemd-resolved.yaml
  tools/gate/roles/disable-systemd-resolved/tasks/main.yaml
  tools/gate/roles/run-functional-tests/tasks/functional-tests.yaml
  tools/gate/roles/run-integration-tests/tasks/integration-tests.yaml
  tools/integration-tests.sh
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Fix deckhand-integration-uwsgi-py35 tests
  deckhand/tests/integration/gabbits/document-crud-secret.yaml
  deckhand/tests/integration/gabbits/document-render-secret-edge-cases.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret-generic.yaml
  deckhand/tests/integration/gabbits/document-substitution-secret.yaml
  deckhand/tests/integration/gabbits/revision-delete-all-secrets.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Re-enable all Zuul CI tests
  .zuul.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Remove unused code for policy validation as feature not implemented
  deckhand/client/client.py
  deckhand/client/validations.py
  deckhand/control/buckets.py
  deckhand/tests/functional/gabbits/document/document-crud-success-owned-documents.yaml
  deckhand/tests/functional/gabbits/document/document-crud-success-unusual-documents.yaml
  deckhand/tests/functional/gabbits/schema-validation/schema-validation-success-ucp-sample.yaml
  deckhand/tests/functional/gabbits/schema-validation/schema-validation-success-v2.yaml
  deckhand/tests/functional/gabbits/schema-validation/schema-validation-success.yaml
  deckhand/tests/functional/gabbits/schema-validation/schema-validation-with-validation-policy-success.yaml
  deckhand/tests/unit/control/test_validations_controller.py
  doc/source/users/validation.rst
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Enabling Apparmor profile to deckhand init containers
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
  charts/deckhand/templates/tests/test-deckhand-api.yaml
  charts/deckhand/values.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

[FIX] Image build checks missing setuptools
  deckhand/tests/integration/gabbits/document-crud-secret.yaml
  deckhand/tests/integration/gabbits/revision-delete-all-secrets.yaml
  test-requirements.txt
  tools/gate/playbooks/airskiff-deploy.yaml
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/osh-infra-deploy-docker.yaml
  tools/gate/playbooks/run-functional-tests-uwsgi.yaml
  tools/gate/playbooks/run-integration-tests-uwsgi.yaml
  tools/gate/roles/install-test-requirements/tasks/install-test-requirements.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Implement helm-toolkit snippet to deckhand pods/containers
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
  charts/deckhand/templates/tests/test-deckhand-api.yaml
  charts/deckhand/values.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

Add configmap-hash annotations for deckhand
  charts/deckhand/templates/job-db-init.yaml
  charts/deckhand/templates/job-db-sync.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

Update HTK stable commit
  tools/helm_tk.sh
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Scaling deckhand uwsgi workers
  charts/deckhand/templates/deployment.yaml
  charts/deckhand/values.yaml
  entrypoint.sh
  requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Fix pep8 gate running on py3.8
  alembic/env.py
  deckhand/barbican/driver.py
  deckhand/engine/revision_diff.py
  deckhand/tests/unit/common/test_utils.py
  requirements.txt
  test-requirements.txt
  tox.ini
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Change helm-toolkit dependency version to ">= 0.1.0"
  charts/deckhand/requirements.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-tag

Sort package list in Dockerfiles
  images/deckhand/Dockerfile.opensuse_15
  images/deckhand/Dockerfile.ubuntu_bionic
  images/deckhand/Dockerfile.ubuntu_xenial
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Accelerate YAML operations with LibYAML
  deckhand/__init__.py
  requirements.txt
  test-requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Include LibYAML in container builds
  images/deckhand/Dockerfile.opensuse_15
  images/deckhand/Dockerfile.ubuntu_bionic
  images/deckhand/Dockerfile.ubuntu_xenial
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Update pip package versions in preparation of pip 20.3
  deckhand/tests/unit/engine/test_document_validation.py
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
  tools/gate/roles/install-test-requirements/tasks/install-test-requirements.yaml
  tools/gate/roles/run-integration-tests/tasks/integration-tests.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Gate fixes
  images/deckhand/Dockerfile.opensuse_15
  images/deckhand/Dockerfile.ubuntu_xenial
  test-requirements.txt
  tools/gate/playbooks/airskiff-deploy.yaml
  tools/gate/playbooks/airskiff-reduce-site.yaml
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish

Deckhand gate fix
  doc/requirements.txt
  images/deckhand/Dockerfile.opensuse_15
  requirements.txt
  tools/gate/playbooks/run-integration-tests-docker.yaml
  tools/gate/playbooks/run-integration-tests-uwsgi.yaml
  tools/gate/playbooks/vars.yaml
  tools/gate/roles/deploy-barbican/tasks/deploy-barbican.yaml
  tools/gate/roles/run-integration-tests/tasks/integration-tests.yaml
  tools/helm_install.sh
  tools/helm_tk.sh
  tools/integration-tests.sh
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Revert jsonschema to 3.2.0
  doc/requirements.txt
  requirements.txt
Due: deckhand-functional-uwsgi-py35, deckhand-functional-docker-py35, deckhand-integration-uwsgi-py35, deckhand-integration-docker-base, deckhand-integration-docker-py35, deckhand-airskiff-deployment, deckhand-docker-build-gate, deckhand-docker-publish, deckhand-docker-tag

Path conditions:
  deckhand-functional-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  deckhand-functional-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  deckhand-integration-uwsgi-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^deckhand/tests/unit/.*$
  deckhand-integration-docker-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  deckhand-integration-docker-py35: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  deckhand-airskiff-deployment: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  deckhand-docker-build-gate: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  deckhand-docker-publish: unless all of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
  deckhand-docker-tag: any of: ^.*\.rst$, ^doc/.*$, ^charts/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$
